<nav>



    <div id="menu" >
      <div class="toggle">
        <div id="logo-mobile-phone-div" >
        <!--<img src="images/tra-s-w.png" style="width:50px;height:52px; "class="responsive">-->
        <img id="myImage" src="images/tra-s-w.png" width="50" height="52"   class="responsive">
        </div>
        <i class="fa fa-bars" onclick="togglemenu()" aria-hidden="true"></i>
      </div>
       <div id="logo-pc-div" >
      <div id="logo-pc">
      <img id="myImage2" src="images/tra-s-b.png"   width="50" height="52" class="responsive">
      </div>
      </div>
      <ul>
          <div id="lol">
            <label class="switch">
              <input type="checkbox"onclick="toggleAll()" checked>
              <span class="slider round"></span>
            </label>

        <a href="index.html"><li id="home">Home</li></a>
        <a href="Information.html"><li id="information">Information</li></a>
        <a href="Materials.html">  <li id="materials">Materials</li></a>
        <a href="Gallery.html"><li id="gallery">Gallery</li></a>
        <a href="Code.html">  <li id="code">Code</li></a>
        </div>
        </ul>

    </div>





  </nav>
