body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  overflow-x: hidden;
  background-image: url('images/Lightheme.jpg');
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 20px;
}

*{
	box-sizing: border-box;
}


h2 {
  padding:30px;
  margin: 10px;
  width: 80%;
}

p {
  font-size: 20px
  text
}


.fa-gitlab {
  color: orange;
  margin: 10px;
}

.fa-youtube-play {
  color: red;
  margin: 10px;
}


/* FOTOS Y CAJITAS RESPONSIVAS  MATERIALES */


/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: auto;
  padding: 0px;
  height: auto; /* Should be removed. Only for demonstration */
  background-image: url("images/white.jpg");
  border: 3px black solid;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 25px;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}
.row {
  color: black;
}






/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 850px) {
  .column {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
}
















/* BOTON & DIA Y NOCHE  */

.dark-mode {
  color: white;
  background-image: url('images/Darktheme.jpg');
  font-family: sans-serif;
  font-size: 20px;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.dark-mode2 {
  color: white;
font-family: sans-serif;
background-color: ;
-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 20px;
}

.dark-mode3 {
  color: white;
  background-image: url('images/Darknavbar.png');
font-family: sans-serif;
-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 20px;
}
@media (max-width: 850px){
.dark-mode3 {
background-image: url('images/black.jpg');
-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 20px;
}

}
.dark-mode4 {
  color: white;
  font-family: sans-serif;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    font-size: 20px;
}

.dark-mode5 {
  color: white;
}
.dark-mode6 {
  color: white;
  font-family: sans-serif;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    background-image: url('images/black.jpg');
    font-size: 20px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  padding: 10px 20px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px grey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* Fotter Guapisimo que te cagas  */



@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);



.footer #button{
	width:35px;
	height:35px;
	border: #e91e63 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 16em;
}

.footer #container{
	margin-top:5px;
	width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
 background-image: url("images/T1.png");
 background-position: top;
 background-rotate:
 -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
}


.footer #cont{

}
.footer_center{
  text-align: center;
  padding-top: 70px;
}
.footer h3{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;

}

.footer a{
	font-family: 'Helvetica';
	font-size: 30px;
	font-weight: 100;

}

#AlansMail {
  padding-top: 10px;
}

#footerIcons {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   text-align: center;
}

@media(max-width: 850px){

#footerIcons {
width: 100%;

}

}









/* ImageSlider    */



.home{
	height: 100vh;
	overflow:hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1;
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	max-width: 1170px;
	margin:auto;

}

.home .container{
	 flex-grow: 1;
}
.home .caption{
	width:50%;
}
.home .caption h1{
	font-size:42px;
	color:white;
	margin:0;

}
.home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.home .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:white;
}
.home .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#ffffff;
 background-color: #FF5722;
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
	background-color: #000000;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:25px;
	height: 25px;
	color:#ffffff;
	background-color: #FF5722;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 3px;
}

.home .indicator div.active{
 background-color: #000;
}

/*responsive*/
@media(max-width: 850px){
	.controls{
		display: none;
	}
}








/* NavBar Transofrmable en Desktop & Mobile */





nav{
  width: 100%;
  background-image: url('images/Lightnavbar.png');
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
ul{
  width: 80%;
  margin:0 auto;
  padding:0;
}
ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  color: black;
  font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 100;
    -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      transition: all 1s ease;
}
ul li:hover {
  background: #80ccff;
  opacity: 0.5;
}
ul li a {
  color: #fff;
  text-decoration: none;
}
.toggle{
  display:none;
}
@media (max-width: 850px){
.toggle{
  width:  100%;
  padding: 10px 20px;
  background-image: url('images/Barranegrarecortada.png');
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: block;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  @media (min-width:850px){
    #lol{
      display:block;
      -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

  }


ul  {
  width: 100%;
  display: block;
}
ul li {
  display: block;
  text-align: center;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.active
{
  display: block;

}
}

#logo-mobile-phone-div {
position: absolute;
margin-top:-8px;
-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
#logo-pc-div {
position: absolute;
margin-left: 10px;
margin-top: 5px;
-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 850px){
#logo-pc {
display: none;
}
}
@media (max-width:850px){
.toggle{
background-image: url('images/Barranegrarecortada.png');
}
}

@media (max-width:850px){
nav{
background-image: url('images/cuarzo.jpg');
}
}




/* Para las fotos de los materiales*/
.xd {
  position: relative;
  width: 100%;
}

.LOL {
  display: block;
  width: 400px;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}

.xd:hover .overlay {
  opacity: 1;
}

@media (max-width: 850px){
  .LOL {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
}




/* Codigo Page */

pre{

  display: block;

  padding: 10px;

  padding-left: 5px;

  margin: 0 30px 10px;

  font-size: 13px;

  line-height: 1.42857143;

  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;

  color: #4d4d4d;

  background-color: #f5f5f5;

  border: 1px solid #ccc;

  border-radius: 4px;
}

.dark-mode8{
  display: block;

  padding: 10px;

  padding-left: 30px;

  margin: 0 30px 10px;

  font-size: 13px;

  line-height: 1.42857143;

  word-break: break-all;

  word-wrap: break-word;

  color: white;

  background-color: black;

  border: 1px solid gray;

  border-radius: 4px;

}


@media (max-width: 850px){
  pre {
    margin: 0 ;
  }
}
